### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ###
/logs/
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata

### Jenkins ###
work/